button, input[type=submit],
.btn-default, .btn.btn-default,
.label-default, .input-group-btn:last-child>.btn {
  background: #f2f2f2;
  border-color: transparent;
  color: #696969;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.label-default[href]:hover,
.label-default[href]:focus,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
#image-navigation .nav-previous a:hover,
#image-navigation .nav-previous a:focus,
#image-navigation .nav-next a:hover,
#image-navigation .nav-next a:focus,

button:hover,
button:focus,
.input-group-btn:last-child>.btn:hover,
.input-group-btn:last-child>.btn:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #a161bf;
  border-color: transparent;
  color: #fff;
}
.input-group-btn:last-child>.btn {
  font-size: 12px;
  opacity: 1;
  padding: 8px 20px;
  line-height: 16px;
}

button.btn.btn-outline-default {
  border: 1px solid $plum-color;
  color: $plum-color;
  font-weight: 600;
  &:hover, &:focus {
    background-color: $plum-color;
    color: #FFF;
    font-weight: 300;
    letter-spacing: .014em;
  }
}

/**
 Read more button ---------------------------------------*/

.read-more {
  a {
    color: #FFF;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .15em;
    font-weight: 500;
    &::before {
      content: "";
      clear: both;
      height: 1.2em;
      margin-bottom: -.1em;
      display: inline-block;
      border-left: 2px solid #DDD;
      padding-right: .6em;
    }
    &::after {
      content: "";
      clear: both;
      height: 1.2em;
      margin-bottom: -.1em;
      display: inline-block;
      border-right: 2px solid #DDD;
      padding-left: .6em;
    }
  }
  &--dark {
    a {
      color: #696969;
      font-weight: bold;
      font-size: 1em;
      letter-spacing: .1em;
      &::before {
        border-color: #6c5b4e;
        margin-bottom: -.25em;
      }
      &::after {
        border-color: #6c5b4e;
        margin-bottom: -.25em;
      }
    }
  }
}

.btn-outline-secondary {
  &:hover {
    color: #fff !important;
  }
}


.alert-dismissible .close {
  padding: .85rem 1.35rem;
}

.btn.btn-danger,
.btn.btn-primary {
  &:hover {
    color: #FFF !important;
  } 
}
