.modal {
  .btn {
    font-size: 1.2em;
    font-family: var(--button-font);
    font-weight: var(--button-font-weight);
    text-transform: capitalize;
  }
  .modal-body {
    font-size: 1.2em;
  }
}