nav {
  border-bottom: 1px solid #EEE;
  
  .navbar-nav {
    text-transform: uppercase;
  }

  .navbar-nav .nav-item .username-lk.nav-link {
    color: $light-dark-read !important;
    font-weight: bold;
    letter-spacing: .05em;
  }
}

nav.no-border-bottom {
  border-bottom: none;
}
