nav {
  border-bottom: 1px solid #EEE;
  
  .navbar-nav {
    text-transform: uppercase;
    .nav-item .username-lk.nav-link {
      color: $light-dark-read-green;
      font-weight: bold;
      letter-spacing: .05em;
    }
  }

  .navbar-brand {
    &:hover, &:focus {
      color: #fff !important;
    }
  }
}

@media (min-width: 768px) {
  nav {
    .navbar-nav {
      .nav-item .username-lk.nav-link {
        border: 2px solid transparent;
        border-radius: 1rem;
        padding: .2rem 1rem;
        &--bg {
          background-color: $dark1;
          &:hover, &:focus {
            background-color: $dark2;
          }
        }
        &:hover, &:focus {
          color: $light-dark-read-green !important;
          border-radius: 1rem;
        }
      }
    }
  }
}

nav.no-border-bottom {
  border-bottom: none;
}

nav form {
  position: relative;
  overflow: hidden;
  width: 15rem;

  input.search-field-lk {
    transform: translateX(0);
    transition: transform 200ms ease-out;
    border-color: #F8F9FA;
    background-color: #F8F9FA;
    padding-right: 1rem;

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-weight: 400;
      color: #b0b1b2 !important;
      letter-spacing: .02rem;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-weight: 400;
      color: #b0b1b2 !important;
      letter-spacing: .02rem;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      font-weight: 400;
      color: #b0b1b2 !important;
      letter-spacing: .02rem;
    }
    &.push-in-field {
      transform: translateX(52%);
    }
  }

  .svg-search-btn {
    position: absolute;
    top: .7rem;
    right: .7rem;
    display:block;
    width: 1rem;
    height: 1rem;
    line-height: 1;
    cursor: pointer;
    
    .svg-gray {
      fill: #b5b9bc !important;
    }
  }
}

@media (max-width: 575.98px) {
  nav form {
    position: relative;
    width: 100%;
    
    .svg-icon-btn-lk {
      position: absolute;
      right: .5rem;
      top: .6rem;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      text-align: left;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      text-align: left;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      text-align: left;
    }
  }
}