
.bg-muted-lk {
  background-color: $bg-muted-lk !important;
}

.bg-gray-lk {
  background-color: $bg-gray-lk !important;
}

.small-nicer-lk {
  font-size: .9em !important;
  letter-spacing: .012em !important;
  color: #6c757d !important;
}

.text-lk {
  padding-top: 1rem;
  font-size: 1rem;
  letter-spacing: .02em;
  line-height: 1.8;
}

.bg-danger-lk {
  background-color: lighten(#dc3545, 5) !important;
  a {
    color: #fff !important;
  }
  &:hover, &:focus {
    background-color: #dc3545 !important;
    a {
      color: #fff !important;
    }
  }
}

.bg-other-lk {
  background-color: #fff !important;
  font-weight: 500 !important;
  color: #5e5c5b !important;
}

.bg-light-lk {
  background-color: #fff !important;
}

@media (min-width: 992px) {
  .bg-other-lk {
    &--md {
      background-color: $bg-other-lk !important;
    }
  }
  .bg-light-lk {
    &--md {
      background-color: #f7f7f7 !important;
    }
  }
}
