<IfModule mod_rewrite.c>

# Turn on the engine:
RewriteEngine on

RewriteRule ^(home)/?$ index.php [L]
RewriteRule ^post/([a-zA-Z0-9-\+]*)/?$ single.php?id=$1 [QSA] [L] 
RewriteRule ^category/([a-zA-Z0-9-\+]*)/?$ index.php?cid=$1 [QSA] [L]
RewriteRule ^author/([a-zA-Z0-9-\+]*)/?$ index.php?uid=$1 [QSA] [L]
RewriteRule ^ondate/([a-zA-Z0-9-\+]*)/?$ index.php?ymd=$1 [QSA] [L]
RewriteRule ^preview/([a-zA-Z0-9-\+]*)/?$ single.php?id=$1 [QSA] [L]

</IfModule>