/**
 Section Slider */

.carousel {
  position: relative;

  .carousel-spinner {
    height: 27.5em;
    .carousel-spinner--none {
      display: none !important;
    }
  }

  .carousel-content {
    position: relative;
    z-index: 800;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease-out;
  
    &--fade-in {
      opacity: 1;
      visibility: visible;
    }

    .left-right-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .1);
    }

    .slider {
      position: relative;
      max-width: 1920px;
      margin: 0 auto;
      height: 27.5em;
      opacity: .9;
      overflow: hidden;
      z-index: 800;

      div {
        position: relative;

        img {
          width: 100%;
          height: 27.5em;
          object-fit: cover;
          object-position: 50% 50%;
          z-index: 800;
        }

        .slider-post-text {
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          background-color: rgba(0, 0, 0, .6);
          transition: background-color 600ms ease-in;
          height: 27.5em;
          padding: 6em 4em;
          padding-bottom: 4em;
          z-index: 801;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          &:hover, &:focus {
            background-color: rgba(0, 0, 0, .3);
          }

          h2 {
            width: 100%;
            font-size: 1.6em;
            letter-spacing: .02em;
            font-weight: 300;
            line-height: 1.4em;
            z-index: 801;
            color: white;
            cursor: pointer;
            margin-bottom: 1.2em;
            a {
              color: #FFF;
            }
          }
        }
      }
    }

    .slider-nav {
      position: relative;
      max-width: 1920px;
      height: 27.5em;
      margin-top: -27.5em;
      margin-left: auto;
      margin-right: auto;
      
      a.slider-btn {
        position: absolute;
        background-color: 0;
        display: block;
        font-size: 2em;
        cursor: pointer;
        z-index: 800;
        transform: translateY(-50%);
        color: #789;

        &.prev {
          left: 5px;
          top: 50%;
        }
        
        &.next {
          right: 5px;
          top: 50%;
        }
      }
    }
  }

}

/**
  Category element is shared with other page sections */

.category {
  display: block;
  color: #FFF;
  font-size: .8em;
  font-weight: 300;
  letter-spacing: .1em;
  text-transform: uppercase;

  &::after {
    content: "";
    clear: both;
    display: flex;
    width: 2.6em;
    margin: 0 auto;
    padding-top: 1em;
    margin-bottom: -1.8em;
    border-bottom: 2px solid #DDD;
  }

  &--dark {
    color: #444 !important;
    margin-bottom: 2.8em;
    &::after {
      width: 2.5rem;
      border-bottom: 2px solid $plum-color;
      padding-top: .7em;
    }
  }
}