/**
 Page Admin - Dashboard */

.page-admin .topbox {
  margin-top: 3rem;
  color: #444;
  background-color: $bg-primary !important;
  width: 100%;
}

/*
 Adapt sidebar to Bootsrap Layout ----------------------*/

.page-admin .main {
  padding-left: 4rem;
  padding-bottom: 2rem;
  background-color: #f7f7f7;

  .main-content {
    padding-top: .2em;
    padding-right: 0 !important;
    min-height: 80vh;
  }
}

.page-admin .sidebar {
  padding-top: .2rem;
  
  .sidebar-nav {
    .nav-item {
      //overflow: hidden;
      .nav-link {
        padding-left: .8rem;
        &:hover {
          width: 16.2rem;
        }
      }
    }
    .nav-item.logo {
      margin-bottom: .2rem;
      background-color: #e4dfd3 !important;
    }
  }
  &:hover {
    width: 16rem !important;
    .nav-item.logo {
      width: 16rem;
    }
  }
}

@media (min-width: 992px) {
  .page-admin .sidebar {
    position: relative;
    .sidebar-nav {
      .nav-item {
        .nav-link {
          width: 100%;
          text-align: left;
          padding-left: 1rem;
          &:hover {
            width: 18rem;
          }
          .link-text {
            display: block;
          }
        }
      }
      .nav-item.logo {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
  
  .page-admin .main {
    padding: 0rem 2rem;
    padding-bottom: 3rem;
    border-right: 1px solid #eee;
  }
}

/*
 Heading ---------------------------------- */

.page-admin {
  .search-widget form {
    padding-top: .2rem;
    padding-bottom: .25rem;
    margin-top: .05rem;
    margin-bottom: .05rem;
    background-color: #E8E8E8;

    .input-group {
      input.form-control {
        border-top-left-radius: .rem !important;
        border-bottom-left-radius: .5rem !important;
      }
      .btn {
        border-top-right-radius: .5rem !important;
        border-bottom-right-radius: .5rem !important;        
      }
      .input-group-prepend {
        background-color: #E8E8E8;
        border: 1px solid #E8E8E8;
        .btn {
          width: 2rem;
          &:hover, &:focus {
            background-color: #E8E8E8 !important;
          }
        }
      }
      .input-group-append .btn {
        border: 1px solid #E8E8E8;
        border-left: none;
        margin-right: 2rem;
      }
    }
  }

  .dashboard-headline {
    display: block;
    position: relative;
    text-align: center;
    background-color: #e2dfd5;
    padding: 1.5rem;
    margin: 0;
    margin-bottom: .2rem;

    .headline-nav {
      .chevron {
        display: block;
        position: absolute;
        cursor: pointer;
        color: darken($bg-secondary, 10);
        
        &:hover, &:focus {
          color: lighten($plum-color, 10) !important;
        }
      
        &--prev {
          top: 1.5rem;
          left: .2rem;
        }
        &--next {
          top: 1.5rem;
          right: .2rem;
        }
      }
    }

    .back-btn-pos {
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 1px;
      padding-bottom: 1px;
    }
  }

  a.btn.btn-outline-primary,
  a.btn.btn-outline-secondary,
  a.btn.btn-outline-success {
    &:hover {
      color: #fff !important;
    }
  }
}
