/**
 Site Header */

header {
  border-bottom: 2px solid #FFF;

  .navbar-brand {
    color: #babec5 !important;
    letter-spacing: .025em;
  }

  nav {
    transition: padding .2s linear, opacity .2s ease-in;
    background-color: #FFF;
    font-family: var(--nav-font);
    font-weight: var(--nav-font-weight);
    font-size: .9em;
    border-bottom: 1px solid #F5F5F5;
    
    &.scroll {
      padding: 0;
      opacity: 0;
      a {
        opacity: 0;
      }
      .form-inline {
        display: none;
      }
    }
  }
}
