/**
 Site Header */

header {
  border-bottom: 2px solid #FFF;

  .navbar-brand {
    color: #9096a2 !important;
    letter-spacing: .025em;
  }

  nav {
    transition: padding .2s linear, opacity .2s ease-in;
    background-color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold !important;
    font-size: .84rem !important;

    &.scroll {
      padding: 0;
      opacity: 0;
      a {
        opacity: 0;
      }
      .form-inline {
        display: none;
      }
    }
  }

}
