/**
 Section Logo */

.first-top-padding {
  padding-top: 4.9rem;
}

.logo {
  position: relative;
  padding-bottom: 3.3rem;
  background-color: #fdfeff; //#f8f9fa;

  .logo-content {
    width: 100%;
    text-align: center;

    .brand {
      display: block;
      font-family: "Open Sans", sans-serif;
      font-size: 2.4em;
      font-weight: 300;
      letter-spacing: .07em;
      text-transform: uppercase;
      margin-bottom: .3em;
      a {
        color: $blue;
      }
    }

    .description {
      font-family: "Montserrat", sans-serif;
      font-size: .9em;
      line-height: 1;
      letter-spacing: .05em;
      color: $dark1;
    }
  }
}
