/**
 Section Posts */

.main {
  background-color: #FFF;
  z-index: 100;

  .main-content {
    padding-top: 1em;
    padding-bottom: 3em;

    .lg-one-article-row {
      article {
        position: relative;
      }
    }
    
    .lg-two-articles-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      article {
        display: flex;
        width: 100%;
      }
    }
    
    @media (min-width: 768px) {
      .lg-two-articles-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -2.4rem;
        article {
          width: 100%;
          padding-left: 2.4rem;
        }
      }
    }

    article .post {
      width: 100%;
      margin: 0;
    
      .post-item-wrap {
        .post-item-inner {
          padding-top:  1.62rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid #dedede;
          &:last-of-type {
            border-bottom: none;
          }
          .entry-content {
            margin: 1.3rem 0 0;
          }        
        }
      }
    }

    .lg-two-articles-row {
      .post .post-item-wrap .post-item-inner {
        padding-bottom: .62rem;
        border-bottom: none;
      }
    }
  }

}

.main .main-content {
  .lg-one-article-row,
  .lg-two-articles-row {
    article {
      .post-format {
        position: relative;

        &--video {
          .overlay {
            position: absolute;
            display: block;
            z-index: 1;
            top: 0; left: 0; bottom: 0; right: 0;
            
            iframe {
              background-color: rgba(0, 0, 0, .1);
            }
            &:hover, &:focus iframe {
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .main .main-content {
    padding-right: 1rem !important;
  }
}
