/* Header
-----------------------------------------*/

.fixed-header {
  z-index: 999;
  ul {
    float: left !important;
  }
  .navbar-brand {
    font-family: 'Open Sans';
  }
}

@media (min-width: 768px) {
  .fixed-header nav.main-menu.md-nav {
    ul li {
      padding-left: 20px;
    a {
      border-top: 0;
      padding-left: 0;
      padding-right: 0;
      &:hover,
      &.current {
        padding-bottom: 10px;
        border-bottom: 2px solid #93FAFF;
      }
    } 
  }
}
//background-color: #2d74a3;
}

#banner {
  display: relative;
  height: 25em;
  margin-top: 5.5em;

  div.logo {
    font-size: 1.7rem;
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
    a {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 300;
      letter-spacing: .05em;
      color: #EEE;
    }
    .tagline {
      color: #FFF;
      letter-spacing: .05em;
      text-align: center;
      line-height: 2;
    }
  }

  .slider-wrap {
    position: relative;
    z-index: 444;
    .left-right-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #5882b5;
      opacity: .3;
    }
    .slider {
      position: relative;
      max-width: 1920px;
      margin: 0 auto;
      height: 27.5em;
      opacity: .9;
      overflow: hidden;
      z-index: 222;
      img {
        object-fit: none;
        object-position: 50% 50%;
        min-height: 27.5em;
        z-index: 222;
      }
      div {
        position: relative;

        .slider-post-text {
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          background-color: rgba(0, 0, 0, .4);
          height: 27.5em;
          padding: 6em 4em;
          padding-bottom: 4em;
          z-index: 333;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          span {
            display: block;
            color: #FFF;
            font-size: 1em;
            text-transform: uppercase;
            border-bottom: 1px solid #FFF;
          }
          h2 {
            width: 100%;
            font-size: 1.6em;
            line-height: 1.5em;
            z-index: 333;
            color: white;
            cursor: pointer;
            a {
              color: #FFF;
            }
          }
          .read-more {
            a {
              font-size: .9em;
              border-color: #FFF;
              color: #FFF;
            }
          }
          h2 a, .read-more a {
            font-family: 'Lora', serif;
            &:hover, &:focus {
              color: #a161bf;
              text-decoration: none;
            }
          }
        }
      }
    }
    .slider-nav {
      position: relative;
      max-width: 1920px;
      height: 27.5em;
      margin-top: -27.5em;
      margin-left: auto;
      margin-right: auto;
      a.slider-btn {
        position: absolute;
        background-color: 0;
        display: block;
        font-size: 2em;
        cursor: pointer;
        z-index: 222 !important;
        transform: translateY(-50%);
        color: #789;
        &.prev {
          left: 5px;
          top: 50%;
        }
        &.next {
          right: 5px;
          top: 50%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #banner {
    height: 39em;
  }
}

.main-content {
  background-color: #FFF;
  z-index: 111;
  .main-content-inner {
    padding-bottom: 4em;
  }
}


/*= Sidebar
---------------------------------------------*/

#secondary {
  background-color: #FFF;
  padding-top: 5rem;
  display: flex;
  z-index: 111;
}


/*= Article
----------------------------------------------------- */

.container {
  padding-left: 0;
  padding-right: 0;

  article {
    margin-left: 2px;
    margin-right: 2px;
    &:nth-child(2) {
      margin-left: 2px;
    }
  }
}

.md-one-article-row {
  article {
    img {
      object-fit: cover;
      height: 320px !important;
    }
  }
}

.md-two-articles-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  article {
    display: flex;
    width: 100%;
    img {
      display: block;
      margin: 0 auto;
      max-width: 340px;
      height: 240px !important;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .md-two-articles-row {
    flex-direction: row;
    justify-content: space-between;
    margin-left: -30px;
    article {
      width: 100%;
      padding-left: 30px;
      img {
        width: 100%;
        height: 240px !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .md-two-articles-row {
    article {
      img {
        height: 210px !important;
      }
    }
  }
}

/*= Sidebar Widgets
----------------------------------------*/

.widget-area .widget {
  .recent-posts-wrapper .post .post-content {
    a {
      font-weight: 400;
      font-family: 'Lora', serif;
    }
    span {
      color: #9A9A9A;
    }
  }
}

/*= Social menu
-----------------------------------------*/
.social-icons {
  ul {
    position: relative;
    text-align: center;
    li.menu-item {
      position: relative;
      display: inline-block;
      padding-right: 1em;
      a {
        position: relative;
        display: block;
        width: 1.6em;
        height: 1.6em;
        padding: 0;
        overflow: hidden;
        span {
          display: block;
          position: absolute;
          top: 50px;
        }
        i {
          font-size: 1.2em !important;
        }
      }
    }
  }
}