/* author */

.author-bio {
  clear: both;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}
.author-bio .avatar {
  float: left;
}
.author-bio-content h4 {
  font-size: 14px;
  margin-top: 0;
}
.author-bio .author-bio-content {
  margin-left: 74px;
}
.secondary-content-box {
  padding-top: 0;
  padding-bottom: 0;
}

.single-view, .blog-item-wrap {
  
  .blog-item-inner {
    img {
      width: 100%;
      height:300px;
    }
  }

  .post-inner-content {
    /*border-bottom: 1px solid #dedede;*/
    padding: 50px 0;
  }
  
}

.archive .post-inner-content {
    margin-bottom: 50px;
}
.page .post-inner-content {
    border: 0;
    padding: 0;
}
article.post:first-child .post-inner-content {
    padding-top: 0;
}
.entry-header {
    text-align: center;
}
.entry-title {
    font-family: "Lora", serif;
    font-size: 24px;
    font-style: italic;
    padding-top: 25px;
    margin-bottom: 25px;
}
.entry-footer {
    margin-top: 20px;
    text-align: center;
}
.entry-footer> *, .entry-footer a {
    color: #696969;
    margin: 0 6px;
}
.more-link, .says {
    display: none;
}
.read-more {
    text-align: center;
}
.read-more a {
    border-left: 2px solid #696969;
    border-right: 2px solid #696969;
    color: #696969;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}
.comment-author .fn, .author-bio h4, .comment-reply-title {
    text-transform: uppercase;
    font-weight: 700;
}
.comment-author .fn {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    font-style: normal;
}
.cat-title {
    border-bottom: 1px solid #dedede;
    margin: -30px 0 50px 0;
    padding-bottom: 20px;
    text-align: center;
}
.cat-title ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cat-title ul li {
    display: inline;
}
.cat-title a {
    color: #8e6193;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
article.post .post-categories, .post-inner-content .cat-item {
    position: relative;
    font-size: 12px;
    margin: 0 0 15px 0;
    padding: 0 0 8px 0;
    list-style: none;
}
article.post .post-categories:after, .post-inner-content .cat-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 40px;
    margin-left: -20px;
    background: #a161bf;
}
article.post .post-categories a, .post-inner-content .cat-item a {
    color: #696969;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
article.post {
    width: 100%;
    margin: 0;
    padding-right: 10px;
}
article.grid {
    padding: 0;
    width: 325px;
}
article.grid .post-inner-content {
    border: 0;
    padding-bottom: 0;
}
article.grid iframe {
    max-width: 325px;
    max-height: 164px;
    width: 100%;
}

/* =Content
----------------------------------------------- */

article.sticky.post {
  background: #f9f9f9;
  padding: 20px 0 0;
}
.sticky .entry-content {
  margin: 10px 20px;
}
.hentry {
  margin: 0;
}
.byline, .updated {
  display: none;
}
.single .byline, .group-blog .byline {
  display: inline;
  margin-right: 0;
}
.single article.post {
  margin-bottom: 50px;
}
.page-content, .entry-content, .entry-summary {
  margin: 20px 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.main-content-area {
  margin-top: 40px;
  margin-bottom: 40px;
}
