/**
  Base */

body {
  color: #696969;
  background-color: #FFFFFF;
  word-wrap: break-word;
  line-height: 2;
  font-size: 16px;

  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  overflow-x: hidden;
}

a {
  color: #393939;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover, a:focus {
  color: #a161bf !important;
  text-decoration: none !important;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #696969;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 30px 0;
}

h1, .h1 {
  font-size: 28px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 16px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 13px;
}

p {
  margin: 15px 0;
}

*> p:first-child {
  margin-top: 0;
}

*> p:last-child {
  margin-bottom: 0;
}

blockquote {
  position: relative;
  border: 0;
  padding: 0 0 0 50px;
  font-style: italic;
  line-height: 1.6;
}

blockquote:before {
  content: "\201D";
  color: #a161bf;
  font-size: 80px;
  position: absolute;
  left: 5px;
  top: 0;
  line-height: 1;
}

blockquote p {
  margin: 0;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

button, input, select, textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], input[type="search"], textarea, select {
  color: #666;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
color: #111;
outline: 1px solid #a161bf;
}

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
}

/*
 Link images hover effect */

a {
  img {
    transition: opacity .3s linear;
    &:hover {
      opacity: .8;
    }
  }
}

/*
 Form Placeholder ----------------------------------------------------*/ 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A7A7A7 !important;
  font-weight: 300;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A7A7A7 !important;
  font-weight: 300;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #A7A7A7 !important;
  font-weight: 300;
}

.embed-responsive::before {
  background-color: #0f0e0e;
}