/**
 Functions */

@function rem($value) {
  @return unquote(($value/1px)/16+"rem");
}

$easeTime: .25s;
$margin-top: 56px;

$colors: (
  "mattBlackLight": "#303337",
  "mattBlackDark": "#212121",
  "mattGray": "#87d8d8",
  "mattRed": "#ec6271"
);

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: #{$value};
  }
  .text-#{$name} {
    color: #{$value}
  }
}
