
/*
 Fonts, overridable in _header_set_style.html in shared folder ------------ */

:root {
  --body-font: 'Lora', serif;
  --body-font-weight: 300;

  --nav-font: 'Montserrat', sans-serif;
  --nav-font-weight: 400; 

  --logo-font: 'Lora', serif;
  --logo-font-weight: 300; 

  --heading-font: 'Montserrat', sans-serif;
  --heading-font-weight: 400;

  --category-headline-font: 'Montserrat', sans-serif;
  --category-headline-font-weight: 300;

  --post-meta-font: 'Montserrat', sans-serif;

  --post-title-font: 'Lora', serif;
  --post-title-font-weight: 400; 

  --form-label-font: 'Montserrat', sans-serif;
  --form-label-font-weight: 400;
  --form-input-font: 'Lora', serif;

  --widgets-section-title-font: 'Montserrat', sans-serif;
  --widgets-section-title-font-weight: 300;
  --widgets-section-body-font-weight: 300;

  --widget-about-font: 'Lora', serif;
  --widget-recent-posts-font: 'Lora', serif;
  --widget-categories-font: 'Lora', serif;
  --widget-text-font: 'Montserrat', sans-serif;

  --button-font: 'Montserrat', sans-serif;
  --cursive-font: 'Dancing Script', cursive;
}

/*
 Colors ------------------------------------------- */

$body-color: #696969;
$dark1: #464D55;
$dark2: #505C6A;
$blue: #2d74a3;
$plum-color: #a161bf;
$text-primary: $dark1;
$text-secondary: #74808d;
$bg-primary: #efeae1; //#eee9e0;
$bg-secondary: #e0dcd0; //#efe4d5;
$light-dark-read-brown: #f3e7d9; //#D99858;
$light-dark-read-blue: #42a6f7;
$light-dark-read-green: #1bd6bd;

$warning-dark: darken(#f2a60e, 2);
$bg-other-lk: lighten(#5aaee2, 20);
$bg-gray-lk: #e1e5eb;
$bg-muted-lk:#e5e3de;
$kite-color: #5aaee2;

/*
 Duration -------------------------------- */

 $transition-speed: 600ms;
 