/**
 * Vars */

/*
 Colors ------------------------------------------- */

$dark1: #464D55;
$dark2: #505C6A;
$blue: #2d74a3;
$plum-color: #a161bf;
$text-primary: $dark1;
$text-secondary: #74808d;
$bg-primary: oldlace;
$bg-secondary: #efe4d5;
$light-dark-read-brown: #D99858;
$light-dark-read-blue: #42a6f7;
$light-dark-read-green: #1bd6bd;

/*
 Duration -------------------------------- */

 $transition-speed: 600ms;
 