.sidebar {
  width: 3.6rem;
  //height: 100vh;
  position: fixed;
  background-color: $bg-primary;
  transition: width 200ms ease;
  z-index: 501;
  padding: 0;
  margin: 0;

  .sidebar-nav {
    padding-top: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;

    .nav-item {
      width: 100%;
      &:last-child {
        padding-bottom: 56px;
        //margin-top: auto; // shift to bottom
      }
      .nav-link {
        display: flex;
        align-items: center;
        height: 3.6rem;
        width: 3.6rem;
        padding-left: .5rem;
        color: $text-primary;
        text-decoration: none;
        filter: grayscale(100%) opacity(.7);
        transition: width 350ms ease;
        
        &:hover {
          filter: grayscale(0%) opacity(1);
          background-color: $bg-secondary !important;
          color: $text-secondary !important;
          width: 13.7rem;
        }
        .link-text {
          font-family: var(--button-font);
          font-weight: 400;
          display: none;
          margin-left: 1rem;
          white-space: nowrap;
          .show-number {
            font-size: 1.2em;
            color: #646566;
          }
        }
        svg {
          min-width: 2rem;
        }
        i.fa {
          font-size: 1.8rem;
          color: $text-secondary;
        }

        &.active {
          filter: grayscale(0%) opacity(1);
          background-color: $bg-secondary !important;
        }
      }
    }
  }

  /*
    Sidebar hover -------------------------------------- */ 

  &:hover {
    width: 14.2rem !important;
    z-index: 501;
    transition: width 200ms linear !important;
    .link-text {
      display: block !important;
      display: inline;
      transition: opacity $transition-speed;
    }
    .logo {
      width: 14.2rem;

      &--flex {
        .nav-link {
          display: block !important;
          width: 100%;
        }
        .double-arrow-btn {
          width: 2.7rem !important;
          height: 2.3rem !important;
        }
      }
    }
  }

  /*
  Nav item Logo ---------------------------------------------- */

  .sidebar-nav .nav-item.logo {
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: $text-secondary;
    background-color: $bg-secondary;
    text-transform: uppercase;
    letter-spacing: .2ch;

    .link-text {
      max-width: 4.2rem;
      font-size: 1.3rem;
      font-weight: 500;
    }

    /* all bellow fresh added */
    
    &--flex {
      display: flex;
      justify-content: flex-end;

      .double-arrow-btn {
        display: block;
        width: 2.3rem;
        height: 2.3rem;
        margin: .7rem;

        svg {
          height: 100%;
          width: auto;
          max-width: 100%;
        }

        i.fa {
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
      .nav-link {
        display: none;
      }
    }

  }

  &:hover .logo svg,
  &:hover .logo i.fa {
    transform: rotate(-180deg);
    transition: transform $transition-speed;
  }

  /* 
  Icons ---------------------------------- */ 

  i.fa, .fa-primary {
    color: #AC73C6;
  }

  i.fa, .fa-secondary {
    color:#B785CE;
  }

  i.fa, .fa-primary,
  i.fa, .fa-secondary {
    transition: $transition-speed;
  }

}
