/**
 Resize div keeping aspect ratio 16x9 */

.ard {
  position: relative;
  width: 100%;
  padding-bottom: 56.3%;
  overflow: hidden;

  &--square {
    padding-bottom: 100%;
  }

  img.ard-image {
    position: absolute;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    &--center {
      left: 50%;
      transform: translateX(-50%);
    }
    &--wide {
      width: 100%;
    }
  }

  &--tall {
    padding-bottom: 75%;
  }

}

/*
 Adapt for theme ---------------------------------*/

@media (min-width: 576px) {
  .ard {
    &--mid-sm {
      padding-bottom: 56.4%;
    }
    &--tall-sm {
      padding-bottom: 75%;
    }
  }
}

@media (min-width: 768px) {
  .ard {
    &--wide-md {
      padding-bottom: 46%;
    }
    &--mid-md {
      padding-bottom: 56.4%;
    }
    &--tall-md {
      padding-bottom: 75%;
    }

    .ard-image--wide-sm {
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .ard {
    &--wide-lg {
      padding-bottom: 46%;
    }
    &--mid-lg {
      padding-bottom: 62%;
    }
    &--tall-lg {
      padding-bottom: 75%;
    }
  }
}

@media (min-width: 1200px) {
  .ard {
    &--wide-xl {
      padding-bottom: 46%;
    }
    &--mid-xl {
      padding-bottom: 56.4%;
    }
    &--tall-xl {
      padding-bottom: 75%;
    }
  }
}
