/**
  Post meta */

.entry-title {
  margin-bottom: 1.25rem;
}

.entry-meta {
  text-align: center;

  margin-bottom: 1.25em;
  a {
    font-size: 13px;
    color: #6B6B6B;
  }
  .fa {
    font-size: .9em;
    margin-right: 3px;
  }
  span {
    margin-right: .62em;
  }

}
