/* 
  Recent Posts Widget -------------------------------- */

.recent-posts-widget {
  .post {
    margin-bottom: 1em;
    .post-image {
      display: block;
      float: left;
      img {
        width: 5.1em;
        height: 4.9em;
        margin-right: 1em;
      }
    }
    .post-content {
      height: 5em;
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span, a {
        display: block;
      }
      span {
        font-size: .9em;
      }
    }
  }
}