.single .post {

  blockquote {
    font-size: 1.2em;
    width: 76%;
    margin: 1.5rem auto;
    font-family: var(--cursive-font);
    font-weight: var(--cursive-font-weight);
    color: darken($bg-secondary, 44);
    padding: 1.2em 20px 1.2em 60px;
    border-left: 5px solid darken($bg-secondary, 5);
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
  
    &::before {
      font-family: Arial, sans-serif;
      content: "\201C";
      color: darken($bg-secondary, 10);
      font-size: 5em;
      font-style: italic;
      position: absolute;
      left: 5px;
      top: 7px;
      line-height: 1;
    }
  
    &::after {
      content: '';
    }
  
    strong {
      display: block;
      color: darken($bg-secondary, 36);
      font-style: normal;
      font-weight: bold;
      margin-top: 1em;
    }
  }
  
  ul {
    li {
      padding-left: .5em;
      font-style: var(font-heading);
    }
  }
  
  em {
    font-family: var(--cursive-font);
    font-size: 1.05em;
    font-weight: var(--cursive-font-weight);
  }

  h1, h2, h3 {
    font-family: var(--body-font);
  }

  img {
    margin: 1.5rem 0; 
  }

}