/* 
  Social Links Widget -------------------------------- */

.social-links-widget {
  font-size: .9rem;
  ul {
    position: relative;
    text-align: center;
    padding: 0;
    
    li.menu-item {
      position: relative;
      display: inline-block;
      padding-right: .7rem;
      padding-left: .7rem;

      a.social-btn {
        position: relative;
        display: block;
        width: 1.5em;
        height: 1.5em;
        overflow: hidden;
        span {
          display: block;
          position: absolute;
          top: 50px;
        }
        i.fa {
          font-size: 1.2em !important;
          color: #6B6B6B;
        }
      }
    }
  }
  
  &.more-space-between {
    ul li.menu-item {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}