/* 
  Categories Widget -------------------------------- */

.cats-widget {
  ul {
    list-style: none;
    padding: 0;
    font-family: var(--widget-categories-font);
    font-size: .82em;
    font-weight: 400;
    text-transform: uppercase;
    li {
      border-bottom: 1px solid #EEE;
      padding: .5em 0;
      span {
        display: block;
        float: right;
      }
    }
  }
}
